.dashboardSideBar{
    min-height: 100vh;
    height: 100%;
  
    
    }

  
  .dashboardSideBar  li{
    margin-bottom: 1rem;
    padding-bottom: 0.1rem;
    font-size: 1.2rem;
  }


  .dashboardSideBar  li a, .dashboardSideBar  li i{
    color: #aaa;
    text-decoration: none;
  }
  .dashboardSideBar:hover{
    transform: translateX(10px);
  }
