/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body{
    font-family: SourceSansPro !important;
    background-color: rgb(226, 230, 234);
}
*{
    transition: all 0.2s ease-in-out;
}
.dashboard{
    .table{
        thead{
            th{
                background-color: #e8f4f6;
                color: #0170ce;
            }
        }
        tbody{
            tr:hover{
                background-color: #e8f4f6;
                color: #0170CF;
            }
                tr{
                    td{
                        .btn-primary:hover{
                            color: #0170ce !important;
                            background-color: white;
                        }
                        .btn-danger:hover{
                            color: #dc3545 !important;
                            background-color: white;
                        }
                    }
                }
        } 
    }
    .pagination{
        li{
            a:hover{
                cursor: pointer;
            }
        }
    }
    .pageTitle{
        color: #0170ce;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
