<div class="m-5 d-flex border" style="justify-content: center;">
    <div class="col-6 card bg-light">
        <article class="card-body mx-auto" style="Max-width: 400px !important;">
            <h4 class="card-header mt-3 text-center">Reset Password</h4>
            <form [formGroup]="ResetForm" (ngSubmit)="ResetPassword()">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="OldPassword" formControlName="OldPassword" class="form-control"
                        placeholder="Enter Old Password" type="password">

                </div>
                <div *ngIf="formFields.OldPassword.invalid && formFields.OldPassword.touched">
                    <small class="text-danger" *ngIf="formFields.OldPassword.errors?.required"> OldPassword Is
                        Required</small>
                    <small class="text-danger" *ngIf="formFields.Address.errors?.minlength"> OldPassword Length shoud be
                        more or equal than 3 character</small>
                </div><!-- form-group// -->


                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" formControlName="PasswordHash" placeholder="New Password"
                        type="password">
                </div>
                <div *ngIf="formFields.PasswordHash.invalid && formFields.PasswordHash.touched">
                    <small class="text-danger" *ngIf="formFields.PasswordHash.errors?.required"> Password Is
                        Required</small>
                    <!-- <small class="text-danger" *ngIf="formFields.NewPassword.errors?.minlength"> NewPassword Length shoud be more than 8 character</small> -->
                    <small class="text-danger" *ngIf="formFields.PasswordHash.errors?.pattern"> Password should more
                        than 7 letter and have UpperCase Letter & LowerCase Letter & nonalphaChar & number</small>
                </div><!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" formControlName="confirmPassword" placeholder="Repeat New password"
                        type="password">

                </div>
                <div *ngIf="formFields.confirmPassword.invalid && formFields.confirmPassword.touched">
                    <small class="text-danger" *ngIf="formFields.confirmPassword.errors?.required"> confirmPassword Is
                        Required</small>

                </div>
                <small *ngIf="ResetForm.errors?.misMatch&& formFields.confirmPassword.touched" class="text-danger">
                    Not Match Password
                </small>



                <small class="text-danger" *ngIf="PasswordCheck">Wrong Password</small>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="ResetForm.invalid"> Reset Now
                    </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>
</div>
