<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Doctor Registration</h4>
    <div class="card-body px-4">
      <form [formGroup]="registerDoctorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <div class="col-8 float-right">
            <input formControlName="fullName" type="text" class="form-control" placeholder="Full Name" name="fullName"
              [class.is-invalid]="formFields.fullName?.invalid && formFields.fullName?.touched">
            <div *ngIf="formFields.fullName?.invalid && formFields.fullName?.touched">
              <small class="text-danger" *ngIf="formFields.fullName?.errors.required">Full Name is required</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <div class="col-8 float-right">
            <input formControlName="username" type="text" class="form-control" placeholder="User Name" name="username"
              [class.is-invalid]="formFields.username?.invalid && formFields.username?.touched">
            <div *ngIf="formFields.username?.invalid && formFields.username?.touched">
              <small class="text-danger" *ngIf="formFields.username?.errors.required">User Name is required</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="col-8 float-right">
            <input formControlName="PasswordHash" type="password" class="form-control" placeholder="Password"
              name="password" [class.is-invalid]="formFields.PasswordHash?.invalid && formFields.PasswordHash?.touched">
            <div *ngIf="formFields.PasswordHash?.invalid && formFields.PasswordHash?.touched">
              <small class="text-danger" *ngIf="formFields.PasswordHash?.errors.required">Password is required</small>
              <small class="text-danger" *ngIf="formFields.PasswordHash.errors?.pattern"> Password should more
                than 7 letter and have UpperCase Letter & LowerCase Letter & nonalphaChar & number</small>

            </div>
            </div>
         
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <div class="col-8 float-right">
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
              name="confirmPassword"
              [class.is-invalid]="formFields.confirmPassword?.invalid && formFields.confirmPassword?.touched">
            <div *ngIf="formFields.confirmPassword?.invalid && formFields.confirmPassword?.touched">
              <small class="text-danger" *ngIf="formFields.confirmPassword?.errors.required">Confirm Password is
                required</small>
            </div>
            <small *ngIf="registerDoctorForm.errors?.misMatch&& formFields.confirmPassword.touched" class="text-danger">
              Not Match Password
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="col-8 float-right">
            <input formControlName="email" type="email" class="form-control" placeholder="Email" name="email"
              [class.is-invalid]="formFields.email?.invalid && formFields.email?.touched">
            <div *ngIf="formFields.email?.invalid && formFields.email?.touched">
              <small class="text-danger" *ngIf="formFields.email?.errors.required">Email is required</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone number</label>
          <div class="col-8 float-right">
            <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone number"
              name="phoneNumber"
              [class.is-invalid]="formFields.phoneNumber?.invalid && formFields.phoneNumber?.touched">
            <div *ngIf="formFields.phoneNumber?.invalid && formFields.phoneNumber?.touched">
              <small class="text-danger" *ngIf="formFields.phoneNumber?.errors.required">Phone number is
                required</small>
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="titleDegree">Title Degree</label>
          <div class="col-8 float-right">
            <input formControlName="titleDegree" type="text" class="form-control" placeholder="Your Title degree"
              name="titleDegree"
              [class.is-invalid]="formFields.titleDegree?.invalid && formFields.titleDegree?.touched">
            <div *ngIf="formFields.titleDegree?.invalid && formFields.titleDegree?.touched">
              <small class="text-danger" *ngIf="formFields.titleDegree?.errors.required">Your Title degree</small>
            </div>
          </div>
        </div> -->
        
        
        <div class="form-group">
          <label for="titleDegree">Title Degree</label>
          <div class="col-8 float-right">
            <select class="form-control" formControlName="titleDegree">
              <option value="" disabled selected hidden>Choose title Degree</option>
              <option *ngFor="let title of TitlesDegree" value="{{title}}">{{title}}</option>
            </select>

            <div *ngIf="formFields.titleDegree?.invalid && formFields.titleDegree?.touched">
              <small class="text-danger" *ngIf="formFields.titleDegree?.errors.required">titleDegree is required</small>
            </div>
          </div>
        </div>
        
        
        
        
        <div class="form-group my-3">
          <label>Upload peronal image</label>
          <div class="col-8 float-right">
            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
            <div class="imgWrapper">
              <img class="w-100" [src]="createImgPath()" alt="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="doctorInfo">Your Info</label>
          <div class="col-8 float-right">
            <textarea formControlName="doctorInfo" class="form-control" placeholder="Write about yourself"
              name="doctorInfo"
              [class.is-invalid]="formFields.doctorInfo?.invalid && formFields.doctorInfo?.touched"></textarea>
            <div *ngIf="formFields.doctorInfo?.invalid && formFields.doctorInfo?.touched">
              <small class="text-danger" *ngIf="formFields.doctorInfo?.errors.required">Your info is required</small>
            </div>
          </div>
        </div>
        <!-- sdd -->
        <div class="form-group">
          <label for="username">Specialty</label>
          <div class="col-8 float-right">
            <select class="form-control" formControlName="specialtyId">
              <option value="" disabled selected hidden>Choose specialty</option>
              <option *ngFor="let specialty of allSpecialty" [ngValue]="specialty.id">{{specialty.name}}</option>
            </select>

            <div *ngIf="formFields.specialtyId?.invalid && formFields.specialtyId?.touched">
              <small class="text-danger" *ngIf="formFields.specialtyId?.errors.required">specialty is required</small>
            </div>
          </div>
        </div>
        <!-- sdsa -->
        <div class="registerBtnWrapper text-center mt-5">
          <button [disabled]="loading" class="btn btn-danger px-4">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
          </button>
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
      <div class="alreadyRegistered">
        Already Registered in Vezeeta ? 
        <a routerLink="login">Login</a>
      </div>
    </div>
  </div>
</div>