<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Doctor Registration</h4>
      <div class="card-body">
          <form [formGroup]="registerDoctorForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input formControlName="fullName" type="text" class="form-control" placeholder="Full Name" name="fullName" [class.is-invalid]="formFields.fullName?.invalid && formFields.fullName?.touched">
                <div *ngIf="formFields.fullName?.invalid && formFields.fullName?.touched">
                  <small class="text-danger" *ngIf="formFields.fullName?.errors.required">Full Name is required</small>
                </div>
              </div>  
              <div class="form-group">
                  <label for="username">Username</label>
                  <input formControlName="username" type="text" class="form-control" placeholder="User Name" name="username" [class.is-invalid]="formFields.username?.invalid && formFields.username?.touched">
                  <div *ngIf="formFields.username?.invalid && formFields.username?.touched">
                      <small class="text-danger" *ngIf="formFields.username?.errors.required">User Name is required</small>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input formControlName="password" type="password" class="form-control" placeholder="Password" name="password" [class.is-invalid]="formFields.password?.invalid && formFields.password?.touched">
                  <div *ngIf="formFields.password?.invalid && formFields.password?.touched">
                      <small class="text-danger" *ngIf="formFields.password?.errors.required">Password is required</small>
                  </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" [class.is-invalid]="formFields.confirmPassword?.invalid && formFields.confirmPassword?.touched">
                <div *ngIf="formFields.confirmPassword?.invalid && formFields.confirmPassword?.touched">
                    <small class="text-danger" *ngIf="formFields.confirmPassword?.errors.required">Confirm Password is required</small>
                </div>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input formControlName="email" type="email" class="form-control" placeholder="Email" name="email" [class.is-invalid]="formFields.email?.invalid && formFields.email?.touched">
                  <div *ngIf="formFields.email?.invalid && formFields.email?.touched">
                      <small class="text-danger" *ngIf="formFields.email?.errors.required">Email is required</small>
                  </div>
              </div>
              <div class="form-group">
                  <label for="phoneNumber">Phone number</label>
                  <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone number" name="phoneNumber" [class.is-invalid]="formFields.phoneNumber?.invalid && formFields.phoneNumber?.touched">
                  <div *ngIf="formFields.phoneNumber?.invalid && formFields.phoneNumber?.touched">
                      <small class="text-danger" *ngIf="formFields.phoneNumber?.errors.required">Phone number is required</small>
                  </div>
              </div>
              <div class="form-group">
                  <label for="doctorInfo">Your Info</label>
                  <textarea formControlName="doctorInfo" class="form-control" placeholder="Write about yourself" name="doctorInfo" [class.is-invalid]="formFields.doctorInfo?.invalid && formFields.doctorInfo?.touched"></textarea>
                  <div *ngIf="formFields.doctorInfo?.invalid && formFields.doctorInfo?.touched">
                      <small class="text-danger" *ngIf="formFields.doctorInfo?.errors.required">Your info is required</small>
                  </div>
              </div>
              <div class="form-group">
                <label for="titleDegree">Title Degree</label>
                <input formControlName="titleDegree" type="text" class="form-control" placeholder="Write about yourself" name="titleDegree" [class.is-invalid]="formFields.titleDegree?.invalid && formFields.titleDegree?.touched">
                <div *ngIf="formFields.titleDegree?.invalid && formFields.titleDegree?.touched">
                    <small class="text-danger" *ngIf="formFields.titleDegree?.errors.required">Last Name is required</small>
                </div>
              </div>
              <div class="form-group my-3">
                <label>Upload peronal image</label>
                 <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                 <div class="imgWrapper">
                   <img class="w-100" [src]="createImgPath()" alt="">
                 </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>
</div>