<div class="attachment p-0 m-0">
    <div class="header-info text-center p-2">
        My Clinc
    </div>


    <div class="d-flex" style="justify-content: center;">


        <form [formGroup]="ClinicForm"  class="p-5 border col-12">
            <div class="form-group d-flex">
                <label for="Street" class="col-3">Street</label>
                <div class="col-9">
                    <input type="text" formControlName="Street" class="form-control" placeholder="Enter Clinc Street" name="Street">
                    <div *ngIf="formFields.Street.invalid && formFields.Street.touched">
                        <small class="text-danger" *ngIf="formFields.Street.errors?.required"> Street Is Required</small>
                    </div>
                </div>
            </div>
           

            <div class="form-group d-flex">
                <label for="Fees" class="col-3">Fees</label>
                <div class="col-9">
                <input type="number" formControlName="Fees" class="form-control" placeholder="Enter Amount Of Fees" name="Fees">
                <div *ngIf="formFields.Fees.invalid && formFields.Fees.touched">
                    <small class="text-danger" *ngIf="formFields.Fees.errors?.required"> Fees Is Required</small>
                </div>
</div>
            </div>
           

            <div class="form-group d-flex">
                <label for="ExaminationTime" class="col-3">Examination Time</label>
                <div class="col-9">

                
                <input type="number" formControlName="ExaminationTime" class="form-control" placeholder="Enter the Time For Patient Examination (Minutes)"
                    name="Examination">
                    <div *ngIf="formFields.ExaminationTime.invalid && formFields.ExaminationTime.touched">
                        <small class="text-danger" *ngIf="formFields.ExaminationTime.errors?.required"> ExaminationTime Is Required</small>
                    </div>
                </div>

            </div>
            <div class="form-group d-flex">
                <label for="WatingTime" class="col-3">Wating Time</label>
                <div class="col-9">
                <input type="number" formControlName="WatingTime" class="form-control" placeholder="Enter the Time For Wating (Minutes)"
                    name="WatingTime">
                    <div *ngIf="formFields.WatingTime.invalid && formFields.WatingTime.touched">
                        <small class="text-danger" *ngIf="formFields.WatingTime.errors?.required"> WatingTime Is Required</small>
                    </div>
                </div>

            </div>

            <div class="form-group d-flex">
                <label for="" class="col-3">City</label>
                <div class="col-9">
                <select class="form-control" id="City" formControlName="CityId" (change)='onOptionsSelected($event.target.value)'>
                    <option style="display:none"></option>
                    <option *ngFor="let c of Cityies"  value="{{c.id}}">{{c.name}}</option>
                   
                </select>
                <div *ngIf="formFields.CityId.invalid && formFields.CityId.touched">
                    <small class="text-danger" *ngIf="formFields.CityId.errors?.required"> City Is Required</small>
                </div>
                </div>
            </div>
            <div class="form-group d-flex">
                <label for="" class="col-3">Area</label>
                <div class="col-9">
                <select class="form-control" id="Area" formControlName="AreaId">
                    <option style="display:none"></option>
                    <option *ngFor="let area of Areas" value="{{area.id}}" ng-selected="area.id==newAddId">{{area.name}}</option>
         
                </select>
                 <div *ngIf="formFields.AreaId.invalid && formFields.AreaId.touched">
                    <small class="text-danger" *ngIf="formFields.AreaId.errors?.required"> Area Is Required</small>
                </div>
                <button class="btn btn-primary mt-3 d-flex" data-toggle="modal" data-target="#AddOrUpdateModal"
                  [disabled]="formFields.CityId.invalid">Add My Area</button>
            </div>
           
            </div>
            <div class="mt-5 border d-flex" style="flex-direction: row;flex-wrap: wrap;" *ngIf="hasImage">
                  <div class="col-3  mt-2" style="height: fit-content;" *ngFor="let item of MyClinicImages">
                    <img [src]="createImgPath(item.image)" class="img-fluid" style="height: 300px;">
                    <button class="btn btn-warning" style="position: absolute;height:35px;right:15px;top:0px" (click)="DeleteImage(item.id)">X</button>
                  </div>
                 

            </div>

            
            <app-upload-multiple (onUploadFinished)="uploadClinicImages($event)"></app-upload-multiple>

            
            <div class="mt-5">
                <button class="btn btn-primary mr-3 col-3" (click)="onAddSubmit()" [disabled]="ClinicForm.invalid" *ngIf="!hasClinic">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save
                </button>
                <button class="btn btn-primary col-3" *ngIf="hasClinic" [disabled]="ClinicForm.invalid" (click)="OnEditSubmit()">
                    Save Edit
                </button>
            </div>

            <!-- <div class="alert alert-danger mt-3 mb-0"></div> -->
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AddOrUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Area</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="areaForm">
                <div class="modal-body">
                    
                        <label for="area-name" class="col-form-label">Area Name:</label>
                        <input type="text" class="form-control" id="area-name" formControlName="name">
                        <div *ngIf="name.invalid && name.touched">
                            <small class="text-danger" *ngIf="name.errors?.required">The Name in required</small>
                            <small class="text-danger" *ngIf="name.errors?.minlength">The Number Should be More Than 2 Character</small>
                        </div>

                        
                        <!-- <label for="cityName">City Name</label>

                        <select class="form-control" id="cityName" formControlName="cityID" >
                            
                            <option *ngFor="let city of Cityies" [ngValue]="city.id">
                                {{city.name}}
                            </option>
                        </select> -->

                        <div class="text-info mt-3">
                            " Notic :the area will checked to be accepted " 
                        </div>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #modalCloseBtn>Close</button>
                    <button type="button" class="btn btn-primary" (click)="addNewArea()" [disabled]="areaForm.invalid">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>