<div class="row">
    <div class="col-12 col-md-6 offerDetails">
        <div class="img-container">
            <img src="{{url}}/{{imageSelected}}" class="img-fluid">
            <div class="otherImag p-2">
                <img *ngFor="let item of offerDetails?.offerImages" src="{{url}}/{{item.image}}"
                    class="img-fluid rounded m-1" (click)="changeImage(item.image)"
                    [class.active]="imageSelected==item.image">
            </div>
        </div>

        <div class="doctorInfo">
            <span class="doctorImage d-inline-bloc">
                <img src="{{url}}/{{offerDetails?.doctor?.image}}" class="img-fluid">
            </span>
            <span class="doctorName p-1">Doctor {{offerDetails?.doctor?.userFullName}}</span>
        </div>

        <div class="description">
            <span class="title d-block">Description</span>
            <span class="body d-block m-0">
                {{offerDetails?.details}}
            </span>
        </div>
        <div class="description">
            <span class="title d-block">For your info</span>
            <span class="body d-block m-0">
                {{offerDetails.information}}
            </span>
        </div>



    </div>
    <div class="col-12 col-md-6 border-left reservation pt-3">
        <span class="title d-block">{{offerDetails.title}}</span>
        <span class="nuOfSession py-2">{{offerDetails.numberOfSession}} Session {{offerDetails.title}}</span>
        <div class="price d-block py-1">
            <span class="offerFees d-inline-block">{{offerDetails.fees}} EGP</span>
            <span class="offerDiscount d-inline-block"> Save {{offerDetails.discount}} EGP</span>
            <span class="d-block offerPrice">{{offerDetails.fees-offerDetails.discount}} EGP</span>
        </div>
        <hr>
        <div class="limitTime text-center">
            <i class="fas fa-clock"></i>
            <span class="pl-1">Limited Time</span>
        </div>
        <hr>
        <div *ngIf="showReserveComponent==false" id="carouselExampleControls" class="carousel slide" data-ride="carousel"
            style="display: flex;justify-content: center;" data-interval="false">
            <div class="carousel-inner col-12" style="justify-content: center;">

                <div class="carousel-item p-2" style="justify-content: center;"
                    *ngFor="let days of workingDays;let i=index" [class.active]="i==0">

                    <div class="d-flex col-12 px-5" style="justify-content: center;">

                        <div class="col-4 appointmentsDiv" *ngFor="let day of days">
                            <button class="btn btn-primary w-100">{{ day.datee |
                                date:'MMMM d'}}</button>

                            <div style="text-align: center;" class="appointment mt-3 " *ngIf="day.IsWork">
                                <div *ngFor="let shift of day._dayShift"
                                    (click)="reserve(shift.id,day.datee)" class="mb-2 border clickReserve rounded">
                                    <small>from : {{shift.from}}</small>
                                    <br>
                                    <!-- {{shift.id}}  -->
                                    <small>to : {{shift.to}}</small>
                                </div>

                            </div>
                            <div style="text-align: center;" class="appointment mt-3" *ngIf="!day.IsWork">
                                <p>no available appointment</p>
                            </div>
                            <button class="btn btn-danger w-100" [disabled]="!day.IsWork">BOOK</button>

                        </div>
                    </div>


                </div>

            </div>


            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <!-- style="left: -7% !important;" -->
                <i class="fas fa-chevron-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <!-- style="right: -7% !important;" -->
                <i class="fas fa-chevron-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <hr>

        <app-reserve-offer *ngIf="showReserveComponent==true" (showReserveComponent)="showReserveComponent=$event" [doctorId]="offerDetails.doctor.userId" [offerId]="offerDetails.id"></app-reserve-offer>

        <hr>
        <div class="text-center limitTime ">
            Reservation required, first-come, first-served
        </div>
        <hr>

        <div>
            <div class="card mb-3 p-3" *ngIf="hasRate">
                <div class="row">
                    <i class="fas fa-star-half-alt col-1 fa-2x"></i>
                    <div class="col-md-10">
                        <h3>Patient Evaluation</h3>
                        <div style="display: flex;flex-direction: column;align-items: center;">
                            <div style="display: flex;flex-direction: column;align-items: center;">
                                <bar-rating [rate]="OfferRates.averageRate" [theme]="'default'" [readOnly]="true"
                                    [max]="5"></bar-rating>
                                <h3>public Evauation :
                                    <span style="background-color: blue;color: white;padding: 10px;border-radius: 10px;">
                                        {{OfferRates.averageRate}}/5
                                    </span>
                                </h3>
                            </div>
    
                        </div>
    
                    </div>
                    <hr>
    
    
                </div>
            </div>
            <div class="d-block card" *ngFor="let item of OfferRates?.getOfferRatingDtos">
    
                <div class="px-5 py-2">
                    <bar-rating [rate]="item.rate" [theme]="'default'" [readOnly]="true" [max]="5"></bar-rating>
                    <p>" {{item.comment}} "</p>
                    <p>{{item.userFullName}}</p>
                    <p>{{item.date |
                        date:'fullDate'}}</p>
                </div>
    
    
            </div>
            <div class="card text-center" *ngIf="OfferRates?.getOfferRatingDtos.length>0">
                <a class="py-2 text-decoration-none" style="cursor: pointer;" (click)="ShowMoreComment()">Show More..</a>
            </div>
    
        </div>
        
    </div>


</div>