<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Forget Password</h4>
        <div class="card-body px-4">
            <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">

                <div class="form-group row align-items-center">
                    <label class="col-5"  for="email">Enter Your Email</label>
                    <div class="col-7 float-right">
                        <input formControlName="email" type="email" class="form-control" placeholder="email"
                            name="email" [class.is-invalid]="formFields.email?.invalid && formFields.email?.touched">
                        <div *ngIf="formFields.email?.invalid && formFields.email?.touched">
                            <small class="text-danger" *ngIf="formFields.email?.errors.required">Email is
                                required</small>
                        </div>
                    </div>
                </div>

                <div class="loginBtnWrapper">
                    <button [disabled]="loading" class="btn btn-primary px-4">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm "></span>
                        Sent Email
                    </button>
                </div>
                <div *ngIf="notify" class="alert alert-success text-center mt-3 mb-0">{{notify}}</div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0 text-center">{{error}}</div>
            </form>
        </div>
    </div>
</div>