<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Reset Forgetting Password</h4>
        <div class="card-body px-4">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

                <div class="form-group row">
                    <label for="PasswordHash" class="col-4 col-md-3">New Password <span class="text-danger pl-1"> *</span></label>
                    <div class="col-8 col-md-9">
                        <input type="password" formControlName="PasswordHash" class="form-control" placeholder="Enter New Password"
                            name="PasswordHash">
                        <div *ngIf="formFields.PasswordHash.invalid && formFields.PasswordHash.touched">
                            <small class="text-danger" *ngIf="formFields.PasswordHash.errors?.required"> New Password Is Required</small>
                            <small class="text-danger" *ngIf="formFields.PasswordHash.errors?.pattern"> Password should more
                                than 7 letter and have UpperCase Letter & LowerCase Letter & nonalphaChar & number</small>
        
                        </div>
                    </div>
                </div>
    
    
                <div class="form-group row">
                    <label for="confirmPassword" class="col-4 col-md-3">Confirm Password <span class="text-danger pl-1"> *</span></label>
                    <div class="col-8 col-md-9">   
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            placeholder="Confirm your Password" name="confirmPassword">
                        <div *ngIf="formFields.confirmPassword.invalid && formFields.confirmPassword.touched">
                            <small class="text-danger" *ngIf="formFields.confirmPassword.errors?.required"> confirmPassword
                                Is Required</small>
                        </div>
                        <small *ngIf="resetForm.errors?.misMatch&& formFields.confirmPassword.touched" class="text-danger">
                            Not Match Password
                        </small>
                        
                    </div>
    
                   
                </div>
                

                <div class="loginBtnWrapper">
                    <button [disabled]="loading" class="btn btn-primary px-4">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm "></span>
                        Sent Email
                    </button>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0 text-center">{{error}}</div>
            </form>
        </div>
    </div>
</div>