<div class="col-md-6 offset-md-3 mt-5 p-5">
    <div class="card">
        <h4 class="card-header">Rate Doctor</h4>
        <div class="card-body px-4">
            <form [formGroup]="RateForm" class="AddRateClass">

                <bar-rating style="width: 100%;" [(rate)]="rate" formControlName="Rate" [theme]="'default'" [max]="5"></bar-rating>

                <div class="form-group">
                    <!-- <label for="Comment">Comment</label> -->
                    <div>
                        <textarea formControlName="comment" class="form-control" placeholder="Enter your comment"
                            name="comment" class="form-control">
                                </textarea>
                    </div>
                </div>



                <div class="mt-5">
                    <button class="btn btn-primary mr-3 col-3" (click)="Onsubmit()" [disabled]="RateForm.invalid">
                        Rate Now
                    </button>
        
                </div>

            </form>

        </div>
    </div>
</div>