.modal-dialog{
    max-width: 1000px;
    margin-left: 24%;
}
.attachmentTableImg{
    width: 100px;
    height: 100px;
    
}
.table-bordered td, .table-bordered th{
    text-align: center;
    vertical-align: middle;
}
