.imgeUpload{
    width: auto;
    height: 13rem;
    margin: 0px auto;
    border: 1px solid gainsboro;
    border-radius: 50%;
  }
  .bord{
    border:1px solid rgba(255,136,86,255);
    border-top: 5px solid rgba(255,136,86,255);
    border-bottom: 5px solid rgba(255,136,86,255);
    padding: 3% 1%;
    color: rgba(242,85,16,255);
  }
  .form-group {
    margin-top: 1.5rem !important;
     margin-bottom:0 !important; 
}