.imgeUpload{
    width: auto;
    height: 13rem;
    margin: 0px auto;
    border: 1px solid gainsboro;
    border-radius: 50%;
  }
  
  .form-group {
    margin-top: 1.5rem !important;
     margin-bottom:0 !important; 
}