<div class="attachment p-0 m-0">
    <div class="header-info text-center p-2">
        Check Is Accept
    </div>


    <div class="p-2"  *ngIf="isAcceptDoctor==false">
        <div class="container">
            <div class="p-3 text-center">
                <span class="d-block text-primary text-center">After complete all of data required previous click in
                    this button to check your account is available to be shown to patient or has so data not be
                    correct</span>
                <button class="btn btn-primary mt-3" (click)="check()">Check your Account </button>
            </div>
            <div class="px-4 py-2">
                <ul class="list-group">
                    <li class="list-group text-danger py-1" *ngFor="let item of printData">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>

    

    <div *ngIf="isAcceptDoctor==true" class="text-center p-5">
        <img src="assets/Image/accept.png" class="img-fluid" style="width: 10rem;">
        <h2 class="text-success pt-4">Accepted</h2>
    </div>





</div>