<div class="nav flex-column nav-pills siderbar mb-3">
    <a class="nav-link nav-link-top active" data-toggle="pill" routerLink="attachment">Attachment</a>
    <a class="nav-link" data-toggle="pill" routerLink="attachment">Clinic Details</a>
    <a class="nav-link" data-toggle="pill" routerLink="workingDays">Clinic Working Days</a>
    <a class="nav-link" data-toggle="pill" href="#v-pills-messages">Messages</a>
    <a class="nav-link nav-link-bootom" data-toggle="pill" href="#v-pills-settings">Settings</a>
</div>