<div class="nav flex-column nav-pills siderbar mb-3">
   
    <a class="nav-link nav-link-top" data-toggle="pill" [class.active]="urlRouteName=='doctorSpecialty'" routerLink="doctorSpecialty">Specialty and SubSpecialty</a>
    <a class="nav-link" data-toggle="pill" [class.active]="urlRouteName=='attachment'" routerLink="attachment" >Attachment</a>
    <a class="nav-link" data-toggle="pill" [class.active]="urlRouteName=='doctorServices'" routerLink="doctorServices">Doctor Services</a>
    <a class="nav-link" data-toggle="pill" [class.active]="urlRouteName=='clinc'" routerLink="clinc">Clinic Details</a>
    <a class="nav-link" data-toggle="pill" [class.active]="urlRouteName=='workingDays'" routerLink="workingDays">Clinic Working Days</a>
    <a class="nav-link" data-toggle="pill" [class.active]="urlRouteName=='clinicServices'" routerLink="clinicServices">Clinic Services</a>
    
    <a class="nav-link" data-toggle="pill" [class.active]="urlRouteName=='checkIsAccepted'" routerLink="checkIsAccepted">Check your Account </a>
    
    <a class="nav-link nav-link-bootom" data-toggle="pill" [class.active]="urlRouteName=='doctorMakeOffer'" routerLink="doctorMakeOffer">Make Offers</a>
</div>