
.cards-wrapper {
    display: flex;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color:lightseagreen;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 768px) {
    .card img {
      height: 10rem;
    }
  }
.offerSection{
  background-color: white;
  .offerSlider{ 
    .offerSectionTitle{
      font-size: 1.5rem;
      font-weight: 600;
      color: rgb(102, 102, 102);
    }
    .offerCart{
      background-color: white;
      color: rgb(102, 102, 102);
      cursor: pointer;
      img{
        height: 10rem;
        width: 100%;  
      }
      h4{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1rem;
        margin: 0px;
      }
    }   
  }
}

.carousel-control-prev,.carousel-control-next{
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgb(217, 217, 218);
  .fas{
    color: rgb(102, 102, 102);;
  }
}


.specializeSectionTitle{
  
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(102, 102, 102);
}

.specialtName{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  background-color: white;
  margin: -4px 0px 0px;
  color: rgb(102, 102, 102);
}


@media (max-width:500px) {
  .offerSlider{
    padding-left: 0px;
    padding-right: 0px;
  }
  .offerSectionTitle{
    padding-left: 15px;
  }
  .offerSection{
    padding: 0px !important;
  }

}