 <!-- <owl-carousel-o [options]="customOptions"> -->
  <ng-template carouselSlide  *ngFor="let specailty of SpecailtyList">
    <div>
      <div class="card mr-3">
        <img class="card-img-top" src="/assets/images/1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{specailty.name}}</p>
        </div>
      </div>
    </div>
  </ng-template>
<!-- </owl-carousel-o> -->
<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>
<div>Some tags after</div> -->

    <!-- <div class="carousel-item"  style="justify-content: center;" *ngFor="let specailty of SpecailtyList" (click)="ShowDoctors(specailty.id)" [class.active]="specailty.id==1">
      <div class="d-flex justify-content-center">
        <div class="card mr-3" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/1.jpg" alt="Card image cap" style="height: 300px;">
          <div class="card-body">
            <p class="card-text">{{specailty.name}}</p>
          </div>
        </div>
      </div> -->