<div class="d-flex justify-content-center mt-5" style="background-color: rgba(248, 242, 242, 0.911);">


    <!-- slidebar -->
    <div class="col-2 mt-2">
        <!-- <app-filter-doctorside-bar></app-filter-doctorside-bar> -->
        <p class="d-flex"
            style="background-color: blue;justify-content: center;height: 50px;color: white;border-radius:25px 25px 0 0;align-items: center;margin-bottom: 0px !important;">
            Specify your search
        </p>
        <div>
            <div class="accordion" id="accordionExample">
                <div class="card" style="border-bottom: 1px solid;">
                    <div class="card-header d-flex justify-content-around" id="headingOne" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="col-10 d-flex justify-content-between">
                            <i class="fas fa-graduation-cap"></i>
                            <h3>
                                Title
                            </h3>
                        </div>
                        <i class="fas fa-angle-up fa-2x" id="Angleicon1"></i>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

                        <div class="card-body">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center" *ngFor="let title of titlesDegrees">
                                    <input type="checkbox" id="{{title}}" value="{{title}}" (change)="titlecheck($event)">
                                    <label for="{{title}}" class="ml-2">{{title}}
                                    </label>
                                </div>

                                <!-- <div class="d-flex align-items-center">
                                    <input type="checkbox" id="teacher" value="teacher" (change)="titlecheck($event)">
                                    <label for="teacher" class="ml-2"> teacher
                                    </label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="consultative" value="consultative" (change)="titlecheck($event)">
                                    <label for="consultative" class="ml-2">consultative
                                    </label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="specialist" value="specialist" (change)="titlecheck($event)">
                                    <label for="specialist" class="ml-2">specialist</label>
                                </div> -->

                            </div>

                        </div>
                    </div>
                </div>

                <div class="card" style="border-bottom: 1px solid;">
                    <div class="card-header d-flex justify-content-around" id="headingSix" data-toggle="collapse"
                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">

                        <div class="col-10 d-flex justify-content-between">
                            <i class="fas fa-money-bill-wave"></i>
                            <h3>
                                Check Price
                            </h3>
                        </div>

                        <i class="fas fa-angle-up fa-2x" id="Angleicon3"></i>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" value="1" id="money1" (change)="moneycheck($event)">
                                    <label for="money1" class="ml-2">Less than 50 EGP</label>
                                </div>

                                <div class="d-flex align-items-center">
                                    <input type="checkbox" value="2" id="money2" (change)="moneycheck($event)">
                                    <label for="money2" class="ml-2">from 50 to 100 EGP</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" value="3" id="money3" (change)="moneycheck($event)">
                                    <label for="money3" class="ml-2">from 100 to 200 EGP</label>
                                </div>

                                <div class="d-flex align-items-center">
                                    <input type="checkbox" value="4" id="money4" (change)="moneycheck($event)">
                                    <label for="money4" class="ml-2">from 200 to 300 EGP</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" value="5" id="money5" (change)="moneycheck($event)">
                                    <label for="money5" class="ml-2">more than 300 EGP</label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>




                <div class="card" style="border-bottom: 1px solid;">
                    <div class="card-header d-flex justify-content-around" id="headingTwo" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="col-10 d-flex justify-content-between">
                            <i class="fas fa-stethoscope"></i>
                            <h3>
                                Subspecialty
                            </h3>
                        </div>
                        <i class="fas fa-angle-up fa-2x" id="Angleicon2"></i>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center" *ngFor="let specailty of allSubSpecialty">
                                <input type="checkbox" id="{{specailty.name}}" value="{{specailty.name}}" (change)="subSpecailtycheck($event)">
                                <label for="{{specailty.name}}" class="ml-2">{{specailty.name}}</label>
                            </div>

                        </div>

                    </div>
                </div>



                <!-- <div class="card" style="border-bottom: 1px solid;">
                    <div class="card-header d-flex justify-content-around" id="headingThree" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                        <div class="col-10 d-flex justify-content-between">
                            <i class="fas fa-venus-mars"></i>
                            <h3>
                                النوع
                            </h3>
                        </div>
                        <i class="fas fa-angle-up fa-2x" id="Angleicon3"></i>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" id="female">
                                <label for="female" class="ml-2">Female</label>
                            </div>

                            <div class="d-flex align-items-center">
                                <input type="checkbox" id="male">
                                <label for="male" class="ml-2">Male</label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card" style="border-bottom: 1px solid;">
                    <div class="card-header d-flex justify-content-around" id="headingFour" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">

                        <div class="col-10 d-flex justify-content-between">
                            <i class="far fa-calendar-alt"></i>
                            <h3>
                                الوقت التاح
                            </h3>
                        </div>

                        <i class="fas fa-angle-up fa-2x" id="Angleicon3"></i>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Today">
                                    <label for="Today" class="ml-2">Today</label>
                                </div>

                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Tomorrow">
                                    <label for="Tomorrow" class="ml-2">Tomorrow</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Anyday">
                                    <label for="Anyday" class="ml-2">Any Day</label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="card" style="border-bottom: 1px solid;">
                    <div class="card-header d-flex justify-content-around" id="headingFive" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">

                        <div class="col-10 d-flex justify-content-between">
                            <i class="fas fa-tags"></i>
                            <h3>
                                كود الخصم
                            </h3>
                        </div>

                        <i class="fas fa-angle-up fa-2x" id="Angleicon3"></i>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Today">
                                    <label for="Today" class="ml-2">Today</label>
                                </div>

                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Tomorrow">
                                    <label for="Tomorrow" class="ml-2">Tomorrow</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Anyday">
                                    <label for="Anyday" class="ml-2">Any Day</label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div> -->


               

                <!-- <div class="card" style="border-bottom: 1px solid;">
                    <div class="card-header d-flex justify-content-around" id="headingEight" data-toggle="collapse"
                        data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">

                        <div class="col-10 d-flex justify-content-between">
                            <i class="fas fa-stethoscope"></i>
                            <h3>
                                المنشاة
                            </h3>
                        </div>

                        <i class="fas fa-angle-up fa-2x" id="Angleicon3"></i>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Today">
                                    <label for="Today" class="ml-2">Today</label>
                                </div>

                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Tomorrow">
                                    <label for="Tomorrow" class="ml-2">Tomorrow</label>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="Anyday">
                                    <label for="Anyday" class="ml-2">Any Day</label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
 -->




            </div>

        </div>

    </div>


    <!-- body -->
    <div class="col-9 ml-5">

        <div class="p-3">
            {{specialtyName}} {{NumberOfDoctors}} doctors
        </div>
        <div class="row" *ngFor="let doctor of DoctorsList;let x=index">
            <div class="card mb-3 col-11">
                <div class="row g-0">
                    <div class="col-md-3 p-3">
                        <div class="text-center">
                            <img [src]="createImgPath(doctor.image)" alt="image 1" class="img-fluid DoctorImage">

                        </div>
                        <div class="mt-5 d-flex col-12 justify-content-center">
                            <button
                                style="background-color: burlywood;border-radius:15px 15px 15px 15px;width: 130px;height: 30px;">اعلان</button>

                        </div>
                    </div>


                    <div class="col-md-4  border-primary" (click)="ShowDetails(doctor.userId)" style="cursor: pointer;">
                        <div class="card-body col-12">
                            <h4 class="card-title text-primary">Doctor : {{doctor.user.fullName}}</h4>
                            <div class="card-text">
                                <i class="fas fa-stethoscope p-2"></i>Doctor in {{doctor.specialty.name}} subspecailize
                                in
                                <span *ngFor="let sub of doctor.subspecails" style="color: cadetblue;">{{sub.name}},
                                </span>
                            </div>
                            <div class="card-text">
                                <i
                                    class="fas fa-map-marker-alt p-2"></i>{{doctor.clinicCityName}}-{{doctor.clinicAreaName}}-{{doctor.clinic.street}}
                            </div>
                            <div class="card-text">
                                <i class="fas fa-money-bill-wave p-2"></i> Check Price {{doctor.clinic.fees}} EGP
                            </div>

                            <div class="card-text">
                                <i class="far fa-clock p-2"></i> Waiting time {{doctor.clinic.watingTime}}
                            </div>

                            <p class="card-text">
                                <i class="fas fa-phone p-2"></i><span style="color: cornflowerblue;">
                                    +{{doctor.user.phoneNumber}}</span> (As ordinary price
                                for minute)
                            </p>
                        </div>
                    </div>


                    <div class="col-md-5 p-3">
                        <div id="carouselExampleControls{{x}}" class="carousel slide" data-ride="carousel"
                            style="display: flex;justify-content: center;" data-interval="false">
                            <div class="carousel-inner col-12" style="justify-content: center;">

                                <div class="carousel-item p-2" style="justify-content: center;"
                                    *ngFor="let days of doctor.presentDaysWork;let i=index" [class.active]="i==0">

                                    <div class="d-flex col-12 px-5" style="justify-content: center;">

                                        <div class="col-4 appointmentsDiv" *ngFor="let day of days">
                                            <button class="btn btn-primary w-100">{{ day.datee |
                                                date:'MMMM d'}}</button>

                                            <div style="text-align: center;" class="appointment mt-3"
                                                *ngIf="day.IsWork">
                                                <div *ngFor="let shift of day._dayShift"
                                                    (click)="reserve(shift.id,doctor.user.userName,day.datee)"
                                                    class="mb-2 border">
                                                    <small>from : {{shift.from}}</small>
                                                    <br>
                                                    <!-- {{shift.id}}  -->
                                                    <small>to : {{shift.to}}</small>
                                                </div>

                                            </div>
                                            <div style="text-align: center;" class="appointment mt-3"
                                                *ngIf="!day.IsWork">
                                                <p>no available appointment</p>
                                            </div>
                                            <button class="btn btn-danger w-100" [disabled]="!day.IsWork">احجز</button>

                                        </div>
                                    </div>


                                </div>

                            </div>


                            <a class="carousel-control-prev" href="#carouselExampleControls{{x}}" role="button"
                                data-slide="prev">
                                <!-- style="left: -7% !important;" -->
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls{{x}}" role="button"
                                data-slide="next">
                                <!-- style="right: -7% !important;" -->
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>