<nav class="dashboardSideBar bg-dark border-top">
    <ul class="list-unstyled pt-5 pl-3">
        <li>
            <a routerLink="cities"><i class="fas fa-tags"></i> Cities</a>
        </li>
        <li> 
            <a routerLink="area"> <i class="fas fa-border-all"></i> Area</a>
        </li>
        <li>
            <a routerLink="specialists"><i class="fas fa-tags"></i> Specialists</a>
        </li>
        <li>
            <a routerLink="SubSpecialists"><i class="fas fa-tags"></i> SubSpecialists</a>
        </li>
    </ul>
</nav>
