<div class="attachment workingDays p-0 m-0">
  <div class="header-info text-center p-2">
    Clinic Working Days
  </div>
  <div class="p-5">
    <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="text-center alert alert-warning" *ngIf="!isHasClinic">You don't have Clinic, <a routerLink="/doctorDashboard/clinc">Add Clinic?</a></div>
    <form [formGroup]="workingDaysForm" (submit)="onSubmit()" *ngIf="isHasClinic">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="saturday" class="form-check-input" [checked]="isSaturdayChecked" (change)="saturdayTouched($event)">
          <span>Saturday</span>
        </label>
      </div>
      <div class="shifts" formArrayName="saturdayShifts" *ngIf="isSaturdayChecked">
        <div *ngFor="let formgroup of saturdayShiftsArr.controls; let i=index">
          <div class="form-group" formGroupName={{i}}>
            <label class="shift">Shift {{i+1}}:</label>
            <label class="d-inline-block">From</label>
            <input type="time" class="form-control" formControlName="from">
            <label class="d-inline-block">To</label>
            <input type="time" class="form-control" formControlName="to">
             <label class="d-inline-block">Reservations</label>
            <input type="number" class="form-control numOfReservations" formControlName="maxNumOfReservation">
          </div>
        </div>
        <div class="text-right">
          <span class="text-info mx-4 font-weight-bold">Add up to three shifts</span>
          <a class="btn btn-success mx-2 px-3 py-0" (click)="addDayShift(Saturday)">+</a>
          <a class="btn btn-danger mx-2 px-3 py-0" (click)="deleteDayShift(Saturday)">-</a>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="sunday" class="form-check-input" [checked]="isSundayChecked" (change)="sundayTouched($event)">
          Sunday
        </label>
      </div>
      <div class="shifts" formArrayName="sundayShifts" *ngIf="isSundayChecked">
        <div *ngFor="let formgroup of sundayShiftsArr.controls; let i=index">
          <div class="form-group" formGroupName={{i}}>
            <label class="shift">Shift {{i+1}}:</label>
            <label class="d-inline-block">From</label>
            <input type="time" class="form-control" formControlName="from">
            <label class="d-inline-block">To</label>
            <input type="time" class="form-control" formControlName="to">
             <label class="d-inline-block">Reservations</label>
            <input type="number" class="form-control numOfReservations" formControlName="maxNumOfReservation">
          </div>
        </div>
        <div class="text-right">
          <span class="text-info mx-4 font-weight-bold">Add up to three shifts</span>
          <a class="btn btn-success mx-2 px-3 py-0" (click)="addDayShift(Sunday)">+</a>
          <a class="btn btn-danger mx-2 px-3 py-0" (click)="deleteDayShift(Sunday)">-</a>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="monday" class="form-check-input" [checked]="isMondayChecked" (change)="mondayTouched($event)">
          Monday
        </label>
      </div>
      <div class="shifts" formArrayName="mondayShifts" *ngIf="isMondayChecked">
        <div *ngFor="let formgroup of mondayShiftsArr.controls; let i=index">
          <div class="form-group" formGroupName={{i}}>
            <label class="shift">Shift {{i+1}}:</label>
            <label class="d-inline-block">From</label>
            <input type="time" class="form-control" formControlName="from">
            <label class="d-inline-block">To</label>
            <input type="time" class="form-control" formControlName="to">
             <label class="d-inline-block">Reservations</label>
            <input type="number" class="form-control numOfReservations" formControlName="maxNumOfReservation">
          </div>
        </div>
        <div class="text-right">
          <span class="text-info mx-4 font-weight-bold">Add up to three shifts</span>
          <a class="btn btn-success mx-2 px-3 py-0" (click)="addDayShift(Monday)">+</a>
          <a class="btn btn-danger mx-2 px-3 py-0" (click)="deleteDayShift(Monday)">-</a>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="tuesday" class="form-check-input" [checked]="isTuesdayChecked" (change)="tuesdayTouched($event)">
          Tuesday
        </label>
      </div>
      <div class="shifts" formArrayName="tuesdayShifts" *ngIf="isTuesdayChecked">
        <div *ngFor="let formgroup of tuesdayShiftsArr.controls; let i=index">
          <div class="form-group" formGroupName={{i}}>
            <label class="shift">Shift {{i+1}}:</label>
            <label class="d-inline-block">From</label>
            <input type="time" class="form-control" formControlName="from">
            <label class="d-inline-block">To</label>
            <input type="time" class="form-control" formControlName="to">
             <label class="d-inline-block">Reservations</label>
            <input type="number" class="form-control numOfReservations" formControlName="maxNumOfReservation">
          </div>
        </div>
        <div class="text-right">
          <span class="text-info mx-4 font-weight-bold">Add up to three shifts</span>
          <a class="btn btn-success mx-2 px-3 py-0" (click)="addDayShift(Tuesday)">+</a>
          <a class="btn btn-danger mx-2 px-3 py-0" (click)="deleteDayShift(Tuesday)">-</a>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="wednesday" class="form-check-input" [checked]="isWednesdayChecked" (change)="wednesdayTouched($event)">
          Wednesday
        </label>
      </div>
      <div class="shifts" formArrayName="wednesdayShifts" *ngIf="isWednesdayChecked">
        <div *ngFor="let formgroup of wednesdayShiftsArr.controls; let i=index">
          <div class="form-group" formGroupName={{i}}>
            <label class="shift">Shift {{i+1}}:</label>
            <label class="d-inline-block">From</label>
            <input type="time" class="form-control" formControlName="from">
            <label class="d-inline-block">To</label>
            <input type="time" class="form-control" formControlName="to">
             <label class="d-inline-block">Reservations</label>
            <input type="number" class="form-control numOfReservations" formControlName="maxNumOfReservation">
          </div>
        </div>
        <div class="text-right">
          <span class="text-info mx-4 font-weight-bold">Add up to three shifts</span>
          <a class="btn btn-success mx-2 px-3 py-0" (click)="addDayShift(Wednesday)">+</a>
          <a class="btn btn-danger mx-2 px-3 py-0" (click)="deleteDayShift(Wednesday)">-</a>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="thursday" class="form-check-input" [checked]="isThursdayChecked" (change)="thursdayTouched($event)">
          Thursday
        </label>
      </div>
      <div class="shifts" formArrayName="thursdayShifts" *ngIf="isThursdayChecked">
        <div *ngFor="let formgroup of thursdayShiftsArr.controls; let i=index">
          <div class="form-group" formGroupName={{i}}>
            <label class="shift">Shift {{i+1}}:</label>
            <label class="d-inline-block">From</label>
            <input type="time" class="form-control" formControlName="from">
            <label class="d-inline-block">To</label>
            <input type="time" class="form-control" formControlName="to">
             <label class="d-inline-block">Reservations</label>
            <input type="number" class="form-control numOfReservations" formControlName="maxNumOfReservation">
          </div>
        </div>
        <div class="text-right">
          <span class="text-info mx-4 font-weight-bold">Add up to three shifts</span>
          <a class="btn btn-success mx-2 px-3 py-0" (click)="addDayShift(Thursday)">+</a>
          <a class="btn btn-danger mx-2 px-3 py-0" (click)="deleteDayShift(Thursday)">-</a>
        </div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" formControlName="friday" class="form-check-input" [checked]="isFridayChecked" (change)="fridayTouched($event)">
          Friday
        </label>
      </div>
      <div class="shifts" formArrayName="fridayShifts" *ngIf="isFridayChecked">
        <div *ngFor="let formgroup of fridayShiftsArr.controls; let i=index">
          <div class="form-group" formGroupName={{i}}>
            <label class="shift">Shift {{i+1}}:</label>
            <label class="d-inline-block">From</label>
            <input type="time" class="form-control" formControlName="from">
            <label class="d-inline-block">To</label>
            <input type="time" class="form-control" formControlName="to">
             <label class="d-inline-block">Reservations</label>
            <input type="number" class="form-control numOfReservations" formControlName="maxNumOfReservation">
          </div>
        </div>
        <div class="text-right">
          <span class="text-info mx-4 font-weight-bold">Add up to three shifts</span>
          <a class="btn btn-success mx-2 px-3 py-0" (click)="addDayShift(Friday)">+</a>
          <a class="btn btn-danger mx-2 px-3 py-0" (click)="deleteDayShift(Friday)">-</a>
        </div>
      </div>
      <div class="submitWrapper mt-4">
        <div class="text-danger" *ngIf="!isAnyDayChoosed">Choose at least one working day</div>
        <button type="submit" class="btn btn-primary mt-1" [disabled]="!isAnyDayChoosed || loading">Save</button>
      </div>
    </form>
  </div>
</div>