.table{
    thead{
        th{
            background-color: #e8f4f6;
            color: #0170ce;
         }
    }
    tbody{
        tr:hover{
            background-color: #e8f4f6 !important;
            color: #0170CF;
        }
            tr{
                td{
                    .btn-primary:hover{
                        color: #0170ce !important;
                        background-color: white;
                    }
                    .btn-danger:hover{
                        color: #dc3545 !important;
                        background-color: white;
                    }
                    .btn-success:hover{
                        color:green !important;
                        background-color: white;
                    }
                }
            }
    } 
}
.pagination{
    li{
        a:hover{
            cursor: pointer;
        }
    }
}
.pageTitle{
    color: #0170ce;
}