<div class=" contianer-fluid  p-3 mt-3 info-bg">

  <div class="row p-4 ml-4 mr-4">

    <div class="col-md-3">
      <object data="../../assets/images/medical-care-icon.svg" width="25" height="25"> </object>
      <h2 style="width: 85%;">All your healthcare needs</h2>
      <p>Search and book a clinic visit,
        home visit, or a teleconsultation.
        Order your medicine and book a service or operation.</p>
    </div>

    <div class="col-md-3">
      <object data="../../assets/images/doctor-icon.svg" width="25" height="25"> </object>
      <h2 style="margin-bottom:1rem;">Verified patient reviews</h2>
      <p>Doctor ratings are from patients who booked and visited the doctor through Vezeeta.</p>
    </div>

    <div class="col-md-3">
      <object data="../../assets/images/booking-icon.svg" width="25" height="25"> </object>
      <h2 style="width: 70%;">Your booking is confirmed.</h2>
      <p>Your booking is automatically confirmed, as the doctor specifies his working hours and is notified of the
        booking details.
      </p>
    </div>

    <div class="col-md-3">
      <object data="../../assets/images/security-icon.svg" width="25" height="25"> </object>
      <h2>Book for free, and pay in the clinic</h2>
      <p>The consultation fees stated on Vezeeta are the actual doctor's fees with no extra charges.</p>
    </div>
  </div>

  <div style="background-color:   rgb(0, 112, 205); border-radius: 5px; margin-left: 35px; margin-right: 35px;"
    class="wd">
    <div class="row text-white pl-4 pr-4 pt-4 ">

      <div class="col-md-5 text-md-right text-sm-left">
        <img src="../../assets/images/image-phone-en.jpg " style="width: 40%;">
      </div>

      <div class="col-md-5 p-3">

        <h2>Download the Application</h2>

        <p>Compare, choose, and book.
          Track your appointments with ease,
          rate your doctor's visit, and order your medicine online.</p>

        <a class="btn  text-dark mt-1 ml-1" href="#" role="button" style="background-color: white"> <object
            data="../../assets/images/google-play-logo.svg" width="20" height="20" style="padding-top: 6px;"> </object>
          Google Play </a>

        <a class="btn text-dark mt-1 ml-1" href="#" role="button" style="background-color:white;"><object
            data="../../assets/images/apple-logo.svg" width="20" height="20" style="padding-top: 6px;"></object> App
          Store&nbsp;&nbsp;&nbsp;&nbsp; </a>

      </div>
    </div>
  </div>
</div>
